- title "<%= plural_name.titleize %>"
%h1 <%= plural_name.titleize %>

<%- if actions? :new -%>
%p= link_to "+ <%= singular_name.titleize %>", new_<%= singular_name %>_path, :class => "small button"
<%- end -%>

%table.large-12.columns
  %tr
    <%- for attribute in attributes -%>
    %th <%= attribute.column.human_name %>
    <%- end -%>
  - for <%= singular_name %> in @<%= plural_name %>
    %tr
      <%- for attribute in attributes -%>
      %td= h <%= singular_name %>.<%= attribute.name %>
      <%- end -%>
      %td
        <%- if action? :show -%>
        = link_to 'Visualizar', <%= singular_name %>, :class => "small secondary button"
        <%- end -%>
        <%- if action? :edit -%>
        = link_to 'Editar', edit_<%= singular_name %>_path(<%= singular_name %>, :class => "small secondary button")
        <%- end -%>
        <%- if action? :destroy -%>
        = link_to 'Deletar', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete, :class => "small secondary button"
        <%- end -%>

<%- if actions? :new -%>
%p= link_to "+ <%= singular_name.titleize %>", new_<%= singular_name %>_path, :class => "small button"
<%- end -%>
